@import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
* {
    -moz-transform-origin: unset !important;
    -webkit-transform-origin: unset !important;
    -o-transform-origin: unset !important;
    -ms-transform-origin: unset !important;
    transform-origin: unset !important;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.2rem;
}

.wrapper_main {
    position: relative;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-color: rgb(255, 255, 255); */
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
    transition: background-image, 5s;
    z-index: 2;
}

.wrapper_main__header {
    font-family: Megrim;
    font-size: 10rem;
    color: rgb(59, 1, 61);
    font-family: 'Megrim', cursive;
    font-weight: 700;
    transition: 0.5s;
    cursor: pointer;
    margin-bottom: 0;
    position: relative;
    z-index: 3;
}

.background_layer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.5s;
}

#background_layer--design {
    background-image: url(https://raw.githubusercontent.com/AnJaWr/millediondesign/main/assets/img/desk.jpg);
}

#background_layer--pr {
    background-image: url(https://raw.githubusercontent.com/AnJaWr/millediondesign/main/assets/img/desk2.jpg);
}

.wrapper_main-half {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper_main--lower {
    z-index: 1000;
}

.wrapper_main__button {
    width: 20vw;
    min-height: 25vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 100;
    padding: 20px;
}

.wrapper_main__button--design {
    margin-right: 100px;
}

.wrapper_main__button {
    background: #f1f1f1;
    cursor: pointer;
    box-shadow: 10px 5px 5px rgb(122, 122, 122);
    transition: 0.5s;
}

.wrapper_main__button-item-list {
    list-style: none;
    padding: 0;
}

.wrapper_main__button-item {
    margin-bottom: 0.8em;
    position: relative;
    padding-left: 20px;
    line-height: 1.5;
    color: rgb(158, 158, 158);
    transition: .12s;
}

.wrapper_main__button-item:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(119, 119, 119);
    transition: .12s;
}

.wrapper_main__button-item:hover:before {
    background-color: rgb(59, 1, 61);
}

.wrapper_main__button-item:hover {
    color: rgb(114, 21, 161)
}

.wrapper_main__button:hover {
    background: #fff;
    box-shadow: 30px 10px 10px rgba(182, 182, 182, 0.486);
}

.wrapper_main__button--design:hover {
    transform: scale(1.2) translate(-20%, -10%);
}

.wrapper_main__button--pr:hover {
    transform: scale(1.2) translate(20%, -10%);
}

.visible {
    opacity: 1;
    transition: opacity 0.5s;
    z-index: 1;
}

.hidden {
    opacity: 0;
    transition: opacity 0.5s;
    z-index: 1;
}


/* animated quote */

.animation_quote {
    font-size: 1.1em;
    color: rgb(34, 34, 34);
    width: 100%;
    padding: 0;
    margin: 0;
    z-index: 10;
}

.animation_quote_container {
    /* position: absolute;
     bottom: 35%; */
    top: 65%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    position: relative;
    z-index: 3;
}

.quote_heading-mini {
    /* font-size: 0.7rem; */
    color: rgb(67, 22, 77);
    display: block;
    /* width: 100%; */
}


/* animated quote end */

.m_circle-main {
    cursor: pointer;
    z-index: 1005;
}


/* prticles */

#particles-js {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    font-size: 1.1em;
    overflow: hidden;
    opacity: 1;
    transition: opacity 0.5s;
    z-index: 1;
}


/* .particles-mask {
    background-image: url(../img/mask.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
} */


/* end prticles  */


/* section start*/

.m_circle {
    width: 30px;
    height: 30px;
    background-color: rgb(114, 94, 135);
    color: rgb(228, 228, 228);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Megrim', cursive;
    font-size: 24px;
    font-weight: bold;
    margin-left: 0.5em;
    /* position: absolute; */
    position: fixed;
    margin-bottom: 0.5em;
    bottom: 0;
}

.m_circle-main {
    right: 0;
    margin-right: 0.5em;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
    transform: scale(1);
    animation: pulse 2s infinite;
}

.m_circle-main i {
    font-size: 26px;
}

@keyframes pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }
    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }
    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}


/* wrtapper */

.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.wrapper--one {
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(/assets/img/sew.jpg);
    background-image: url(https://raw.githubusercontent.com/AnJaWr/millediondesign/main/assets/img/sew.jpg);
}

.wrapper--two {
    background-image: url(/assets/img/d-ng-ph-c-h-i-tri-u-GLGVvykplBY-unsplash.jpg);
}

.wrapper--three {
    background-image: url(/assets/img/1000_F_595577502_7derQyGUTlw61kEJhvwdfKQS1QObgaoo.jpg);
}


/*  bounce */

.bounce {
    -webkit-animation-name: bounce;
    animation: bounce 2s infinite;
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
}

@keyframes bounce {
    from,
    20%,
    53%,
    80%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    40%,
    43% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        -webkit-transform: translate3d(0, -30px, 0);
        transform: translate3d(0, -30px, 0);
    }
    70% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        -webkit-transform: translate3d(0, -15px, 0);
        transform: translate3d(0, -15px, 0);
    }
    90% {
        -webkit-transform: translate3d(0, -4px, 0);
        transform: translate3d(0, -4px, 0);
    }
}

.undisplay {
    display: none
}


/* loader */

.LockOn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 999;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgb(120, 120, 120);
    font-size: 10rem;
    color: rgb(59, 1, 61);
}